***
# 4.07 Pandas Data Input and Output
- Pandas Documentation: https://pandas.pydata.org/
***
### Python 4.01. Series
### Python 4.02. Pandas DataFrame, Selection, and Indexing
### Python 4.03. Configuring Options, Data Type Conversion, Working with strings and dates, Missing Data
### Python 4.04. Groupby, Categorizing, and Labeling Data
### Python 4.05. Merging,Joining,and Concatenating
### Python 4.06. Pipe, Apply, Applymap, Map, Pivot Table, and Cotingency Table
### Python 4.07. Data Input and Output
### Python 4.08. Data Visualization
### Python 4.09. Exploratory Data Analysis and Beyond
### Python 4.10. Breakout Group Exercise and Solution
***

# Data Input and Output

This notebook is the reference code for getting input and output, pandas can read a variety of file types using its pd.read_ methods. Let's take a look at the most common data types.

In [26]:
import numpy as np
import pandas as pd

## CSV

### CSV Input

In [28]:
import pandas as pd
# Set up a path to data folder
import os
os.chdir(r'C:\Users\yumei\CSP Workshop 2023\Data')
os.getcwd()

'C:\\Users\\yumei\\CSP Workshop 2023\\Data'

In [29]:
%pwd

'C:\\Users\\yumei\\CSP Workshop 2023\\Data'

In [30]:
pd.read_csv('titanic_test.csv').head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [31]:
# Import file from the data folder
df = pd.read_csv('AutoCollision.csv',delimiter = ',' , encoding = 'unicode_escape')
df.head()

   AgeGroup  VehicleUse  ClaimSeverity  ClaimCount
0  17 to 20    Pleasure         250.48          21
1  17 to 20  DriveShort         274.78          40
2  17 to 20   DriveLong         244.52          23
3  17 to 20    Business         797.80           5
4  21 to 24    Pleasure         213.71          63

In [32]:
# Import file from the data folder
df = pd.read_csv('AutoCollision.csv', delimiter = ',' , encoding = 'unicode_escape')
df.head()

   AgeGroup  VehicleUse  ClaimSeverity  ClaimCount
0  17 to 20    Pleasure         250.48          21
1  17 to 20  DriveShort         274.78          40
2  17 to 20   DriveLong         244.52          23
3  17 to 20    Business         797.80           5
4  21 to 24    Pleasure         213.71          63

### CSV Output

In [33]:
df.to_csv('example',index=False)

## Excel
Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

### Excel Input

In [34]:
df=pd.read_excel('Excel_SampleInput.xlsx',sheet_name='Sheetnew')
df

   Unnamed: 0.1  Unnamed: 0  0   1   2   3
0             0           0  1   5   6   7
1             1           1  2   9  10  11
2             2           2  3  13  14  15

### Excel Output

In [35]:
df.to_excel('Excel_SampleOutput.xlsx',sheet_name='Sheetnew')

## HTML

You may need to install htmllib5,lxml, and BeautifulSoup4. In your terminal/command prompt run:

    conda install lxml
    conda install html5lib
    conda install BeautifulSoup4

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

Pandas can read table tabs off of html. For example:

### HTML Input

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects:

In [36]:
import pandas as pd
df = pd.read_html(r'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list')
df

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [37]:
df[0].head()

0    1
1    2
2    3
Name: 0, dtype: int64

In [38]:
df[0].shape

(3,)

In [39]:
type(df)

pandas.core.frame.DataFrame

Exercise: Input AutoCollision.csv

In [40]:
import os
%pwd

'C:\\Users\\yumei\\CSP Workshop 2023\\Data'

In [41]:
wcdf=pd.read_csv("WCClaim.csv")
wcdf

,ClaimType,InjuryType,LineCode,LineType,StateofJurisdiction,TotalDaysClaimOpen,ClaimStatus,ClaimSubstatus,BodyPartDescription,DateReported,...,RTWFullDuty,PreInjuryAWW,NetTotalIncurred,DateofTermination,ClaimIncurredIndLoss,ClaimIncurredMedical,NumberofReserveChanges,ResultNatureDescription,CauseDescription,NetTotalPaid
0,IN,05 - Temporary Total/Part,XW,WC,OK,1890,O,Accepted,Multiple Body Parts,9/1/2008,...,NaN,1088.98,993673.97,NaN,439331.00,516117.00,23,Strain,Lifting,369068.54
1,IN,05 - Temporary Total/Part,WC,WC,CT,1312,O,Accepted,Multiple Body Parts,4/27/2010,...,NaN,1.00,635426.05,NaN,363006.63,246198.12,18,Strain,Pushing or Pulling,284268.31
2,IN,04 - Unscheduled Permanen,WC,WC,NV,367,O,Accepted,Multiple Body Parts,11/19/2012,...,NaN,1.00,749901.08,NaN,337915.20,324804.38,9,Multiple Physical Injury Only,Pushing or Pulling,129824.50
3,IN,03 - Major Permanent Part,WC,WC,CA,2977,O,Accepted,Knee,9/22/2005,...,NaN,1389.85,455298.54,39418.0,275832.55,121024.45,25,"All Other (Specific) Injuries, NOC","Fall, Slip or Trip, NOC",283770.44
4,IN,05 - Temporary Total/Part,WC,WC,NC,1422,O,Accepted,Knee,1/7/2010,...,NaN,1.00,523300.72,NaN,241525.72,259750.00,9,Meniscus Tear,Fall On the Same Level,177822.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,IN,05 - Temporary Total/Part,WC,WC,MA,11,O,Accepted,Cervical,11/18/2013,...,11/25/2013,532.30,8950.00,NaN,350.00,7000.00,1,Strain,"Fall, Slip or Trip, NOC",136.88
309,IN,05 - Temporary Total/Part,WC,WC,MA,127,O,Accepted,Low Back Area (Incl. Lumbar & Lumbo-Sacral),7/24/2013,...,8/5/2013,653.25,8886.29,NaN,336.29,7000.00,4,Strain,Lifting,2848.45
310,IN,05 - Temporary Total/Part,WC,WC,CA,94,O,Accepted,Vertebrae,8/27/2013,...,NaN,1.00,12162.45,NaN,172.45,9150.00,4,Strain,Twisting,1808.43
311,IN,05 - Temporary Total/Part,WC,WC,PA,319,O,Accepted,Foot,1/14/2013,...,1/22/2013,1100.00,3910.08,NaN,131.00,3210.43,5,Sprain,"Fall, Slip or Trip, NOC",3410.08
312,IN,05 - Temporary Total/Part,WC,WC,ME,178,O,Accepted,Hip,6/4/2013,...,6/5/2013,1.00,3832.11,NaN,34.27,3037.84,4,Strain,Fall On the Same Level,1527.49

In [42]:
# check data dimentions
wcdf.shape

(313, 22)

In [43]:
wcdf.head()

,ClaimType,InjuryType,LineCode,LineType,StateofJurisdiction,TotalDaysClaimOpen,ClaimStatus,ClaimSubstatus,BodyPartDescription,DateReported,...,RTWFullDuty,PreInjuryAWW,NetTotalIncurred,DateofTermination,ClaimIncurredIndLoss,ClaimIncurredMedical,NumberofReserveChanges,ResultNatureDescription,CauseDescription,NetTotalPaid
0,IN,05 - Temporary Total/Part,XW,WC,OK,1890,O,Accepted,Multiple Body Parts,9/1/2008,...,NaN,1088.98,993673.97,NaN,439331.00,516117.00,23,Strain,Lifting,369068.54
1,IN,05 - Temporary Total/Part,WC,WC,CT,1312,O,Accepted,Multiple Body Parts,4/27/2010,...,NaN,1.00,635426.05,NaN,363006.63,246198.12,18,Strain,Pushing or Pulling,284268.31
2,IN,04 - Unscheduled Permanen,WC,WC,NV,367,O,Accepted,Multiple Body Parts,11/19/2012,...,NaN,1.00,749901.08,NaN,337915.20,324804.38,9,Multiple Physical Injury Only,Pushing or Pulling,129824.50
3,IN,03 - Major Permanent Part,WC,WC,CA,2977,O,Accepted,Knee,9/22/2005,...,NaN,1389.85,455298.54,39418.0,275832.55,121024.45,25,"All Other (Specific) Injuries, NOC","Fall, Slip or Trip, NOC",283770.44
4,IN,05 - Temporary Total/Part,WC,WC,NC,1422,O,Accepted,Knee,1/7/2010,...,NaN,1.00,523300.72,NaN,241525.72,259750.00,9,Meniscus Tear,Fall On the Same Level,177822.24

In [44]:
wcdf.tail(2)

,ClaimType,InjuryType,LineCode,LineType,StateofJurisdiction,TotalDaysClaimOpen,ClaimStatus,ClaimSubstatus,BodyPartDescription,DateReported,...,RTWFullDuty,PreInjuryAWW,NetTotalIncurred,DateofTermination,ClaimIncurredIndLoss,ClaimIncurredMedical,NumberofReserveChanges,ResultNatureDescription,CauseDescription,NetTotalPaid
311,IN,05 - Temporary Total/Part,WC,WC,PA,319,O,Accepted,Foot,1/14/2013,...,1/22/2013,1100.0,3910.08,NaN,131.00,3210.43,5,Sprain,"Fall, Slip or Trip, NOC",3410.08
312,IN,05 - Temporary Total/Part,WC,WC,ME,178,O,Accepted,Hip,6/4/2013,...,6/5/2013,1.0,3832.11,NaN,34.27,3037.84,4,Strain,Fall On the Same Level,1527.49

In [45]:
# review data columns
wcdf.columns

Index(['ClaimType', 'InjuryType', 'LineCode', 'LineType',
       'StateofJurisdiction', 'TotalDaysClaimOpen', 'ClaimStatus',
       'ClaimSubstatus', 'BodyPartDescription', 'DateReported', 'DateLoss',
       'SurgeryFlag', 'RTWFullDuty', 'PreInjuryAWW', 'NetTotalIncurred',
       'DateofTermination', 'ClaimIncurredIndLoss', 'ClaimIncurredMedical',
       'NumberofReserveChanges', 'ResultNatureDescription', 'CauseDescription',
       'NetTotalPaid'],
      dtype='object')

In [46]:
# review data type
wcdf.dtypes

ClaimType                   object
InjuryType                  object
LineCode                    object
LineType                    object
StateofJurisdiction         object
TotalDaysClaimOpen           int64
ClaimStatus                 object
ClaimSubstatus              object
BodyPartDescription         object
DateReported                object
DateLoss                    object
SurgeryFlag                 object
RTWFullDuty                 object
PreInjuryAWW               float64
NetTotalIncurred           float64
DateofTermination          float64
ClaimIncurredIndLoss       float64
ClaimIncurredMedical       float64
NumberofReserveChanges       int64
ResultNatureDescription     object
CauseDescription            object
NetTotalPaid               float64
dtype: object

In [47]:
# subsetting data with loc & iloc
wcdf.loc[3:5]

,ClaimType,InjuryType,LineCode,LineType,StateofJurisdiction,TotalDaysClaimOpen,ClaimStatus,ClaimSubstatus,BodyPartDescription,DateReported,...,RTWFullDuty,PreInjuryAWW,NetTotalIncurred,DateofTermination,ClaimIncurredIndLoss,ClaimIncurredMedical,NumberofReserveChanges,ResultNatureDescription,CauseDescription,NetTotalPaid
3,IN,03 - Major Permanent Part,WC,WC,CA,2977,O,Accepted,Knee,9/22/2005,...,NaN,1389.85,455298.54,39418.0,275832.55,121024.45,25,"All Other (Specific) Injuries, NOC","Fall, Slip or Trip, NOC",283770.44
4,IN,05 - Temporary Total/Part,WC,WC,NC,1422,O,Accepted,Knee,1/7/2010,...,NaN,1.00,523300.72,NaN,241525.72,259750.00,9,Meniscus Tear,Fall On the Same Level,177822.24
5,IN,04 - Unscheduled Permanen,WC,WC,IL,733,O,Accepted,Back (All Other),11/28/2011,...,NaN,1087.93,572946.37,NaN,224829.12,313544.60,13,Strain,Bending,340835.41

In [48]:
wcdf.loc[3:5,['InjuryType','LineCode','LineType','StateofJurisdiction','TotalDaysClaimOpen']]

,InjuryType,LineCode,LineType,StateofJurisdiction,TotalDaysClaimOpen
3,03 - Major Permanent Part,WC,WC,CA,2977
4,05 - Temporary Total/Part,WC,WC,NC,1422
5,04 - Unscheduled Permanen,WC,WC,IL,733

In [49]:
wcdf.iloc[0:5,[0,1,3]]

  ClaimType                 InjuryType LineType
0        IN  05 - Temporary Total/Part       WC
1        IN  05 - Temporary Total/Part       WC
2        IN  04 - Unscheduled Permanen       WC
3        IN  03 - Major Permanent Part       WC
4        IN  05 - Temporary Total/Part       WC

### There is a number of pandas commands to read other data formats:

- pd.read_stata('myfile.dta')

- pd.read_sas('myfile.sas7bdat')

- pd.read_hdf('myfile.h5','df')

- pd.read_pickle('sub.pkl'): creating a pickle file is much faster than excel or csv files when the file size is large

- https://pandas.pydata.org/docs/reference/api/pandas.read_json.html

- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_pickle.html

#### Note: The course materials are developed mainly based on personal experience and contributions from the Python learning community
Referred Books: 
- Learning Python, 5th Edition by Mark Lutz
- Python Data Science Handbook, Jake, VanderPlas
- Python for Data Analysis, Wes McKinney    

Copyright ©2023 Mei Najim. All rights reserved.